* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background: #E5E5E5;
}

.header {
  width: 100%;
  padding-top: 21px;
  padding-bottom: 21px;
  box-shadow: 0px 2px 1px rgba(65, 81, 100, 0.15);
  background-color: #fff;
}
@media (max-width: 768px) {
  .header {
    padding: 10px 16px;
  }
}
@media (max-width: 960px) {
  .header {
    padding: 10px 16px;
  }
}
.header-container {
  max-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container__report {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container__report h2 {
  color: #363E48;
  margin-left: 8px;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 425px) {
  .header-container__report h2 {
    font-size: 16px;
  }
}

.events {
  margin: 16px;
}
@media (max-width: 768px) {
  .events {
    width: 355px;
  }
}
.events h2 {
  font-weight: 600;
  font-size: 20px;
  color: #363E48;
}
@media (max-width: 425px) {
  .events h2 {
    margin-bottom: 8px;
  }
}
.events .content-title {
  font-size: 20px;
}
.events .events-content {
  background-color: #fff;
  padding: 16px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-top: 4px;
}
.events .events-content .events-content-data__title {
  display: flex;
}
.events .events-content .events-content-data__title h2 {
  margin-right: 16px;
}
.events .events-content .events-content-data__title div {
  width: 51px;
  height: 22px;
  background: #FFFFFF;
  border: 1px solid #E7E8EF;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.events .events-content .events-content-data__title div p {
  font-weight: 400;
  font-size: 12px;
  color: #798AA4;
}
.events .events-content .events-content-data .events-content-data__text p {
  font-weight: 400;
  font-size: 12px;
  color: #627389;
  margin: 4px 0 6px 0;
}
.events .events-content .events-content-data .events-content-data__button button {
  width: 65px;
  height: 16px;
  color: #57760A;
  border: 1px solid #739E08;
  border-radius: 32px;
  font-size: 12px;
  font-family: "Roboto";
}
.events .events-content .planting-data {
  width: 242px;
  border-right: 1px solid #DFE0E7;
  border-left: 1px solid #DFE0E7;
}
@media (max-width: 768px) {
  .events .events-content .planting-data {
    display: none;
  }
}
.events .events-content .planting-data .planting-data-container {
  padding: 16px;
}
.events .events-content .planting-data .planting-data-container .content-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.events .events-content .planting-data .planting-data-container .content-data p {
  font-weight: 400;
  font-size: 12px;
  color: #20252B;
}
.events .events-content .planting-data .planting-data-container .content-data span {
  font-weight: 400;
  font-size: 12px;
  color: #798AA4;
}
.events .events-content .arrow {
  width: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;
}
.main .main-content {
  max-width: 982px;
  margin: 66px auto;
  display: flex;
}
@media (max-width: 425px) {
  .main .main-content {
    flex-direction: column;
    margin: 0 auto;
  }
}
@media (max-width: 688px) {
  .main .main-content {
    flex-direction: column;
    margin: 20px auto;
  }
}
.main .main-content .main-container-data {
  width: 248px;
  height: 486px;
  background-color: #fff;
  margin-bottom: 16px;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .main .main-content .main-container-data {
    margin: 0 16px 0 19px;
  }
}
@media (max-width: 425px) {
  .main .main-content .main-container-data {
    flex-grow: 2;
    margin: 16px;
    width: 365px;
  }
}
@media (max-width: 688px) {
  .main .main-content .main-container-data {
    width: 372px;
    margin-bottom: 8px;
  }
}
.main .main-content .main-container-data__user {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-bottom: 1px solid #E7E8EF;
}
.main .main-content .main-container-data__user .user-title p {
  font-size: 12px;
  color: #20252B;
  font-weight: 700;
}
.main .main-content .main-container-data__user .user-name h3 {
  font-size: 16px;
  font-weight: 400;
  color: #415164;
  line-height: 24px;
}
.main .main-content .main-container-data__user .user-size p {
  color: #798AA4;
  font-size: 14px;
  font-weight: 400;
}
.main .main-content .main-container-data__number {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  border-bottom: 1px solid #E7E8EF;
}
.main .main-content .main-container-data__number p {
  font-size: 12px;
  color: #20252B;
  font-weight: 700;
}
.main .main-content .main-container-data__number h3 {
  font-size: 16px;
  font-weight: 400;
  color: #415164;
  line-height: 24px;
}
.main .main-content .main-container-data__number .data-farm .accomplished {
  margin: 10px 0;
}
.main .main-content .main-container-data__number .data-farm h2 {
  font-size: 16px;
  font-weight: 700;
  color: #20252B;
}
.main .main-content .main-container-data__number .data-farm .rain-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 72px;
  margin-bottom: 5px;
}
.main .main-content .main-container-data__number .data-farm .rain p {
  font-size: 12px;
  color: #627389;
  font-weight: 400;
}
.main .main-content .main-container-data__number .data-harvest {
  margin-right: 38px;
}
.main .main-content .main-container-data__number .radius {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F5F6FA;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #798AA4;
  margin: 20px 5px;
  border: 1px solid #DFE0E7;
}
.main .main-content .main-container-data__description {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-bottom: 1px solid #E7E8EF;
}
.main .main-content .main-container-data__description .description-title {
  font-size: 12px;
  color: #20252B;
  font-weight: 700;
}
.main .main-content .main-container-data__description .description {
  font-size: 14px;
  font-weight: 400;
  color: #415164;
}
.main .main-content .container-button {
  width: 216px;
  height: 32px;
  margin: 16px auto;
}
.main .main-content .container-button .main-container-data__button {
  width: 216px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #C8CED8;
}
.main .main-content .container-button .main-container-data__button img {
  margin-right: 8px;
}

footer {
  width: 100%;
  background: #E7E8EF;
  text-align: center;
  padding: 10px 0;
}
footer h2 {
  font-weight: 400;
  color: #798AA4;
  font-size: 12px;
}

.main-section {
  display: flex;
  flex-direction: column;
}
.main-section .content-title {
  position: absolute;
  top: 110px;
  left: 404px;
  font-size: 20px;
  font-weight: 600;
  color: #363E48;
}
@media (max-width: 768px) {
  .main-section .content-title {
    top: 90px;
    left: 304px;
  }
}
@media (max-width: 960px) {
  .main-section .content-title {
    left: 300px;
    top: 90px;
  }
}
@media (max-width: 425px) {
  .main-section .content-title {
    position: relative;
    left: 24px;
    top: -9px;
    width: 300px;
  }
}
@media (max-width: 688px) {
  .main-section .content-title {
    position: relative;
    top: -5px;
    left: 15px;
    width: 300px;
  }
}
.main-section .content {
  max-width: 800px;
}
@media (max-width: 768px) {
  .main-section .content {
    width: 100%;
  }
}
.main-section .content .content-annotation-container {
  display: flex;
  flex-wrap: wrap;
}
.main-section .content .content-annotation-container .content-annotation {
  padding: 16px;
  width: 380px;
  height: 183px;
  margin-right: 16px;
  margin-left: 16px;
  background: #FFFFFF;
  border-radius: 8px;
}
@media (max-width: 688px) {
  .main-section .content .content-annotation-container .content-annotation {
    width: 579px;
  }
}
@media (max-width: 768px) {
  .main-section .content .content-annotation-container .content-annotation {
    width: 365px;
  }
}
.main-section .content .content-annotation-container .content-annotation .content-annotation__title {
  display: flex;
  margin-bottom: 8px;
}
.main-section .content .content-annotation-container .content-annotation .content-annotation__title h4 {
  font-size: 16px;
  font-weight: 700;
  color: #363E48;
}
.main-section .content .content-annotation-container .content-annotation .content-annotation__imgs {
  display: flex;
}
.main-section .content .content-annotation-container .content-annotation .content-annotation__imgs img {
  margin-right: 16px;
}
.main-section .content .content-annotation-container .content-annotation .content-annotation__description p {
  font-size: 14px;
  font-weight: 400;
  color: #415164;
}
.main-section .content .content-annotation-container .content-1 {
  width: 270px;
}
@media (max-width: 768px) {
  .main-section .content .content-annotation-container .content-1 {
    width: 365px;
  }
}
.main-section .content .content-annotation-container .content-2 {
  height: 230px;
  margin: 0;
}
@media (max-width: 768px) {
  .main-section .content .content-annotation-container .content-2 {
    margin: 16px;
  }
}
@media (max-width: 960px) {
  .main-section .content .content-annotation-container .content-2 {
    margin: 16px;
  }
}
.main-section .content .content-annotation-container .content-3 {
  height: 280px;
}
@media (max-width: 768px) {
  .main-section .content .content-annotation-container .content-3 {
    margin: 16px;
  }
}
@media (max-width: 960px) {
  .main-section .content .content-annotation-container .content-3 {
    margin: 16px;
  }
}
.main-section .content .content-annotation-container .content-4 {
  height: 135px;
  width: 300px;
  margin: 0;
}
@media (max-width: 768px) {
  .main-section .content .content-annotation-container .content-4 {
    margin: 16px;
  }
}
@media (max-width: 960px) {
  .main-section .content .content-annotation-container .content-4 {
    margin: 16px;
  }
}

/*# sourceMappingURL=app.css.map */
