$first-font: Inter;
$main-color: #363E48;
$text-color: #20252B;
$p-color: #415164;
$main-size: 24px;
$secondary-size: 20px;
$tertiary-size: 16px;
$max-width: 1200px;
$max-width2: 982px;
$section-color: #fff;