@use "../base/variables";
@use "../base/base-mixins";


.main-section{
    // margin: 0 8px;
    display: flex;
    flex-direction: column;

    //title
    .content-title{
        position: absolute;
        top: 110px;
        left: 404px;
        font-size: 20px;
        font-weight: 600;
        color: variables.$main-color;
        
        @include base-mixins.tablet{
            top: 90px;
            left: 304px;
        }
        @include base-mixins.desctop{
            left: 300px;
            top: 90px;
        }
        @include base-mixins.mobile{
            position: relative;
            left: 24px;
            top: -9px;
            width: 300px;
        }
        @include base-mixins.tablet-2{
            position: relative;
            top: -5px;
            left: 15px;
            width: 300px;

        }
    }
    //

    .content{
        max-width: 800px;

        @include base-mixins.tablet{
            width: 100%;
        }
        .content-annotation-container{
            display: flex;
            flex-wrap: wrap;
            ///
            .content-annotation{
                padding: 16px;
                width: 380px;
                height: 183px;
                margin-right: 16px;
                margin-left: 16px;
                background: #FFFFFF;
                border-radius: 8px;
                
                @include base-mixins.tablet-2{
                    width: 579px;
                }
                @include base-mixins.tablet{
                    width: 365px;
                }
                


                .content-annotation__title{
                    display: flex;
                    margin-bottom: 8px;
                    h4{
                        font-size: variables.$tertiary-size;
                        font-weight: 700;
                        color: #363E48;
                    }
                }
                .content-annotation__imgs{
                    display: flex;
                    img{
                        margin-right: 16px;
                    }
                }
                .content-annotation__description p{
                    font-size: 14px;
                    font-weight: 400;
                    color: #415164;
                }
            }
            .content-1{
                width: 270px;
                @include base-mixins.tablet{
                    width: 365px;
                }
                

            }
            .content-2{
                height: 230px;
                margin: 0;
                
                @include base-mixins.tablet{
                    margin: 16px;
                }
                @include base-mixins.desctop{
                    margin: 16px;
                }
            }
            .content-3{
                height: 280px;
                @include base-mixins.tablet{
                    margin: 16px;
                }
                @include base-mixins.desctop{
                    margin: 16px;
                }
            }
            .content-4{
                height: 135px;
                width: 300px;
                margin: 0;
                @include base-mixins.tablet{
                    margin: 16px;
                }
                @include base-mixins.desctop{
                    margin: 16px;
                }
            }
        }
    }
    
}